<launch>

    <node name="DoorTrajPub" pkg="DoorTrajPub" type="DoorTrajPub_Node" output="screen" >
        <!--rosparam file="$(find mpc_ros)/params/mpc_local_square_params.yaml" command="load" /-->
        <rosparam file="$(find open_door_tieta_mpc)/config/mpc_run.yaml" command="load" ns="dynamic_collision_mpc" />
        <!--rosparam file="$(find mpc_ros)//params/mpc_local_epitrochoid_params.yaml" command="load" /-->
    </node>

</launch>